<!--<h1>Školář</h1>
<ul>
    <li><a ui-sref="znamky" ui-sref-active="active"><i class="icon-znamky"></i><span>Známky</span></a></li>
    <li><a ui-sref="rozvrh" ui-sref-active="active"><i class="icon-rozvrh"></i><span>Rozvrh</span></a></li>
    <li><a><i class="icon-suplovani"></i><span>Suplování</span></a></li>
    <li><a><i class="icon-plan"></i><span>Plán akcí</span></a></li>
    <li><a><i class="icon-predmety"></i><span>Předměty</span></a></li>
    <li><a><i class="icon-vyuka"></i><span>Výuka</span></a></li>
    <li><a><i class="icon-absence"></i><span>Absence</span></a></li>
    <li><a><i class="icon-ukoly"></i><span>Domácí úkoly</span></a></li>
    <li><a><i class="icon-vysvedceni"></i><span>Vysvědčení</span></a></li>
</ul>-->

<h1>Školář</h1>
<ul>
    <li><a ui-sref="znamky" ui-sref-active="active"><img src="./assets/img/znamky.png" alt=""><span>Známky</span></a></li>
    <li><a ui-sref="rozvrh" ui-sref-active="active"><img src="./assets/img/rozvrh.png" alt=""><span>Rozvrh</span></a></li>
    <li><a><img src="./assets/img/suplovani.png" alt=""><span>Suplování</span></a></li>
    <li><a><img src="./assets/img/plan.png" alt=""><span>Plán akcí</span></a></li>
    <li><a><img src="./assets/img/predmety.png" alt=""><span>Předměty</span></a></li>
    <li><a><img src="./assets/img/vyuka.png" alt=""><span>Výuka</span></a></li>
    <li><a><img src="./assets/img/absence.png" alt=""><span>Absence</span></a></li>
    <li><a><img src="./assets/img/ukoly.png" alt=""><span>Domácí úkoly</span></a></li>
    <li><a><img src="./assets/img/vysvedceni.png" alt=""><span>Vysvědčení</span></a></li>
</ul>