<div id="options">
	<h1>Nastavení</h1>

	<h2>Barva rozhraní</h2>
	<div class="colors">
		<div class="color" ng-repeat="color in colors" ng-class="[color, isSelectedBg(color)]" ng-click="setBg(color)"></div>
	</div>

	<h2>Zobrazení kategorií</h2>
	<div class="pages">
		<div ng-repeat="(id, page) in pages | filter:{show: true}" class="page" ng-class="{hidden: isVisible(page.name) == false}" ng-click="setVisibility(page.name)">
			<img ng-src="./assets/img/{{page.name}}.png" alt="">
			<span>{{page.title}}</span>
		</div>
	</div>
</div>